
<%- include('header')%>

<section id="poster" class="posterrr">
    <br>
    <h2 class="nombre"> Información de la pelicula</h2>
    <br>
          <ul class="info">
            <li class="titulo">TITULO</li> <br>
            <li class="poster"></li>
            <br>
            <li class="generos"> GENEROS A LOS QUE PERTENECE</li>
            <br>
            <li class="lenguaje">Lenguaje Original</li>
            <br>
            <li class="sinopsis"> SINOPSIS</li>
            <br>
            <li class="estreno"> ESTRENO </li>
            <li>  <a class="button-fav" onclick="marcarComoFavorito()" > <img class="button-favorito"src="/img/fav.jpg" alt=""> </a></li>
          </ul>
          <iframe id="trailer" width="560" height="315" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </section>
 

  <section id="estrenos" class="section-estrenos">
    <br>
    <button onclick="recomendaciones()" class="subtitulo" type="button" name="button"> Ver Recomendaciones...</button>
    <button onclick="recomendaciones2()" class="subtitulo2" type="button" name="button"> Ver Menos Recomendaciones...</button>
    <br>
    <div class="contenedor">

    </div>

  
    
    <button onclick="resenias()" uk-toggle="target: #modal-ver-resenias" type="button" name="button" class="subtituloResenia">Ver Reseñas...</button>
    
  

    <div class="contenedorResenias">

              <!-- This is a button toggling the modal -->

        <!-- This is the modal -->
        <div id="modal-ver-resenias" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
              
              <!-- COMIENZO DE CARRUSEL -->
              <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="clsActivated: uk-transition-active; center: true">

              </div>
                <h2 class="uk-modal-title">Las Reseñas para esta pelicula son...</h2>
                <ul>
                  <% for (let index = 0; index < resultados.length; index++) { %>
                    
                    <ul class="uk-slider-items uk-grid">
                      <li class="uk-width-3-4">
                          <div class="uk-panel">
                              
                              <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                                  <h3 class="uk-margin-remove">Resultados</h3>
                                  <li class="carruResenias"> 
                                    <h3>Texto:</h3><%=resultados[index].resenia_text%> 
                                    </li>
                                    <li class="carruResenias">
                                     <h3>Puntaje</h3> <%=resultados[index].movie_score%> 
                                    </li>
                                    <li class="carruResenias">
                                     <h3>Fecha:</h3> <%=resultados[index].resenia_date%>
                                    </li>
                                    <li class="carruResenias">
                                      <h3>usuairio:</h3> <%=resultados[index].reseniaUsuario.user_name%>
                                     </li>
                                  <div class="uk-position-center uk-panel"></div>
                              </li>
                      
                   </ul>
                  </ul>
                    <% } %>
                  </ul>

                
                <button onclick="resenias2()" class="uk-modal-close subtitulo2Resenia"  type="button" name="button">Cancelar</button>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    
    </div>
            </div>
        </div>
        
    </div>
    
     


    
      


    
    <button onclick="insertarResenia()" class="subtituloInsertarResenia" uk-toggle="target: #modal-insertar-resenia" type="button" name="button"> Insertar una Reseña...</button>
    
   
    <div class="contenedorInsertarResenia">

      <!-- This is a button toggling the modal -->


<!-- This is the modal -->
<div id="modal-insertar-resenia" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Agregar una reseña</h2>
        <section class="contenedorFormulario">
       
      


          <form action="/home/detalle/<%=id%>" method="POST">
            <div class="imgcontainer">
              <img src="/img/img_avatar2.png" alt="Avatar" class="avatar">
            </div>
            
          
            <div class="input-container">
              <i class="fa fa-envelope icon"></i>
              <input class="input-field" type="text" placeholder="Email" name="email">
            </div>
          
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" placeholder="Password" name="password">
            </div>

            <div class="input-container">
              <i class="fa fa-commenting icon"></i>
              <textarea name="resenia" rows="5" cols="50" placeholder="Escribí tu reseña"></textarea>
            </div>

            <div class="input-container">
              <i class="fa fa-sliders icon"></i>
              <label for="range">Puntaje</label>
              <input class="uk-range" type="range" value="2" min="0" max="10" step="0.1" name="quantity">
          </div>
            
          
            <button type="submit" class="btn">Subir reseña</button>
          </form>

          
          <button onclick="cancelarForm()" class="uk-modal-close cancelarEnvio" type="button" name="button"> Cancelar</button>

         </section>
        
    </div>
</div>


    
    </div>


  </section>

<%- include('footer')%>