
<%- include('header')%>

<section id="poster" class="posterrr">
    <br>
    <h2 class="nombre"> Información de la pelicula</h2>
    <br>
          <ul class="info">
            <li class="titulo">TITULO</li> <br>
            <li class="poster"></li>
            <br>
            <li class="generos"> GENEROS A LOS QUE PERTENECE</li>
            <br>
            <li class="lenguaje">Lenguaje Original</li>
            <br>
            <li class="sinopsis"> SINOPSIS</li>
            <br>
            <li class="estreno"> ESTRENO </li>
            <li>  <a class="button-fav" onclick="marcarComoFavorito()" > <img class="button-favorito"src="/img/fav.jpg" alt=""> </a></li>
          </ul>
          <iframe id="trailer" width="560" height="315" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </section>
 

  <section id="estrenos" class="section-estrenos">
    <br>
    <button onclick="recomendaciones()" class="subtitulo" type="button" name="button"> Ver Recomendaciones...</button>
    <button onclick="recomendaciones2()" class="subtitulo2" type="button" name="button"> Ver Menos Recomendaciones...</button>
    <br>
    <div class="contenedor">

    </div>

  
    
    <button onclick="resenias()" uk-toggle="target: #modal-ver-resenias" type="button" name="button" class="subtituloResenia">Ver Reseñas...</button>
    
  

    <div class="contenedorResenias">

              <!-- This is a button toggling the modal -->

        <!-- This is the modal -->
        <div id="modal-ver-resenias" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
    
     
    <div uk-slider="center: true">
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
          <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
            <% for (let index = 0; index < resultados.length; index++) { %>    
            <li>
                  <div class="uk-card uk-card-default">
                      <div class="uk-card-body">
                          <h3 class="uk-card-title">Reseñas</h3>
                          <p>Texto: <%=resultados[index].resenia_text%></p>
                          <p>Puntaje: <%=resultados[index].movie_score%></p>
                          <p>Fecha: <%=resultados[index].resenia_date%></p>
                          <p>Usuario: <%=resultados[index].reseniaUsuario.user_name%></p>


                      </div>
                  </div>
              </li>
              <% } %>
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" style='color:black' href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" style='color:black' href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>    
    </div>
    </div>
  </div>
</div>



    
      


    
    <button onclick="insertarResenia()" id="insertar-resenia" class="subtituloInsertarResenia" uk-toggle="target: #modal-insertar-resenia" type="button" name="button"> Insertar una Reseña...</button>
    
   
    <div class="contenedorInsertarResenia">

      <!-- This is a button toggling the modal -->


<!-- This is the modal -->
<div id="modal-insertar-resenia" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Agregar una reseña</h2>
        <section class="contenedorFormulario">
       
      


          <form action="/home/detalle/<%=id%>" method="POST">
            <% if (typeof errores3 != "undefined") { %>
              <ul class='contenedor-error2' style="color:red;position: relative;
              top: 10px">
                  <% for (let i = 0; i < errores3.length; i++) { %>
                      <li>
                          <%=errores3[i]%>
                      </li>
                      
                  <% } %>
              </ul>
            <script>
              window.addEventListener('load', function(){
                    document.getElementById("insertar-resenia").click()
                  })
                  </script>
            <% } %>

            <div class="imgcontainer">
              <img src="/img/img_avatar2.png" alt="Avatar" class="avatar">
            </div>
            
          
            <div class="input-container">
              <i class="fa fa-envelope icon"></i>
              <input class="input-field" type="text" placeholder="Email" name="email">
            </div>
          
            <div class="input-container">
              <i class="fa fa-key icon"></i>
              <input class="input-field" type="password" placeholder="Password" name="password">
            </div>

            <div class="input-container">
              <i class="fa fa-commenting icon"></i>
              <textarea name="resenia" rows="5" cols="50" placeholder="Escribí tu reseña"></textarea>
            </div>

            <div class="input-container">
              <i class="fa fa-sliders icon"></i>
              <label for="range">Puntaje</label>
              <input class="uk-range" type="range" value="2" min="0" max="10" step="0.1" name="quantity">
          </div>
            
          
            <button type="submit" class="btn">Subir reseña</button>
          </form>

          
          <button onclick="cancelarForm()" class="uk-modal-close cancelarEnvio" type="button" name="button"> Cancelar</button>

         </section>
        
    </div>
</div>


    
    </div>


  </section>

<%- include('footer')%>