<%- include('header')%>
<h2 class="nombre">Informacion de los usuarios:</h2>
<div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Email: <%=resultado.user_email%></div>
        <div class="uk-card uk-card-default uk-card-body">Nombre: <%=resultado.user_name%></div>
        <div class="uk-card uk-card-default uk-card-body">Fecha de Nacimiento: <%=resultado.user_bornDate%></div>
       
    </div>
</div>


<%- include('footer')%>