<%- include('header') %>

<h1>TUS RESEÑAS SON:</h1>

<% for (let index = 0; index < resultado.length; index++) {%>

         <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default uk-card-body">Id: <%=resultado[index].resenias_id%></div>
              <!-- <div class="uk-card uk-card-default uk-card-body">Pelicula: <%=resultado[index].resenia_text%></div> -->
              <div class="uk-card uk-card-default uk-card-body">Texto: <%=resultado[index].resenia_text%></div>
              <div class="uk-card uk-card-default uk-card-body">Puntaje: <%=resultado[index].movie_score%></div>
              <div class="uk-card uk-card-default uk-card-body">Fecha: <%=resultado[index].resenia_date%></div>
              <div class="uk-card uk-card-default uk-card-body">Usuario: <%=resultado[index].reseniaUsuario.user_name%></div>

              <a class="uk-button uk-button-default editarResenia" href="#modal-sections" uk-toggle="target: #modal-editar-resenia">Editar la resenia</a>
              <div id="modal-editar-resenia" uk-modal>
                  <div class="uk-modal-dialog">
                      <button class="uk-modal-close-default" type="button" uk-close></button>
                      <div class="uk-modal-header">
                          <h2 class="uk-modal-title">Editar la resenia</h2>
                      </div>
                      <div class="uk-modal-body">
                        <form action="/home/editar" method="POST">
                          <p>EMAIL:</p>
                          <input type="email" name="email">
                          <br>
                          <P>CONTRASEÑA:</P>
                          <input type="password" name="password">
                          <br>
                          <p>RESEÑA:</p>
                          <textarea name="resenia" rows="5" cols="50" placeholder="ESCRIBI TU RESEÑA AQUI"></textarea>
                          <br>
                          <p>PUNTAJE (entre 1 y 10):</p>
                          <input type="number" id="quantity" name="quantity" min="1" max="10">
                          <br>
                        </form>
                      </div>
                      <div class="uk-modal-footer uk-text-right">
                          <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                          <button class="uk-button uk-button-primary" type="submit">Subir resenia</button>
                      </div>
                  </div>
              </div>

              <a class="uk-button uk-button-default eliminarResenia" href="#modal-sections" uk-toggle="target: #modal-eliminar-resenia">Eliminar la resenia</a>

              <div id="modal-eliminar-resenia" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <h2 class="uk-modal-title">Ingresa tus datos para eliminar</h2>
      
                    <form class="formDeLogin" action="/home/eliminar" method="POST">
                      <div class="imgcontainer">
                        <img src="/img/img_avatar2.png" alt="Avatar" class="avatar">
                      </div>
      
                      <div class="container">
                        <i class="fa fa-envelope icon"></i>
                        <label for="email" class="nombreFormEliminar"><b>User Mail</b></label>
                        <input type="email" placeholder="Enter E-mail" name="email" required class="inputTextLogin">
                      </div>
      
                      <div class="container">
                        <i class="fa fa-key icon"></i>
                        <label for="password" class="nombreFormEliminar"><b>Password</b></label>
      
                        <input type="password" placeholder="Enter Password" name="password" required class="inputPassLogin">
                      </div>
      
                        
                        <br>
                          <button class="uk-button uk-button-primary" type="submit">Eliminar</button>
                          <button class="uk-button uk-button-default uk-modal-close cancelbtn cancelLogIn" type="button">Cancel</button>
                  </div>
              </div>


          </div>
        </div>



        
               
<%}%>



<%- include('footer') %>
