<%- include('header') %>

<h1>TUS RESEÑAS SON:</h1>

<% for (let index = 0; index < resultado.length; index++) {%>

         <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
          <div>
              <!-- <div class="uk-card uk-card-default uk-card-body">Pelicula: <%=resultado[index].resenia_text%></div> -->
              <div class="uk-card uk-card-default uk-card-body">Texto: <%=resultado[index].resenia_text%></div>
              <div class="uk-card uk-card-default uk-card-body">Puntaje: <%=resultado[index].movie_score%></div>
              <div class="uk-card uk-card-default uk-card-body">Fecha: <%=resultado[index].resenia_date%></div>
              <div class="uk-card uk-card-default uk-card-body">Usuario: <%=resultado[index].reseniaUsuario.user_name%></div>

              <!-- <form action="/home/Editar" method="POST">
                <button type="submit">Editar la resenia</button>
              </form> -->
             <form action="/home/eliminar" method="POST">
              <button type="submit">Eliminar la resenia</button>

            </form>


          </div>
        </div>
<%}%>



<%- include('footer') %>
