<%- include('header') %>

<h1>TUS RESEÑAS SON:</h1>

<ul>
<% for (let index = 0; index < resultado.length; index++) {%>
    <li> 
        <h3>Texto:</h3><%=resultado[index].resenia_text%> 
        </li>
        <li>
         <h3>Puntaje</h3> <%=resultado[index].movie_score%> 
        </li>
        <li>
         <h3>Fecha:</h3> <%=resultado[index].resenia_date%>
        </li>
        <li>
          <h3>usuairio:</h3> <%=resultado[index].reseniaUsuario.user_name%>
         </li>
<%}%>
</ul>


<%- include('footer') %>
