<%- include('header')%>
<h2 class="nombre">Las reseñas mas recientes son:</h2>
<% for (let index = 0; index < resultados.length; index++) { %>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">Dia: <%=resultados[index].resenia_date%></div>
            <div class="uk-card uk-card-default uk-card-body">Texto: <%=resultados[index].resenia_text%></div>
            <div class="uk-card uk-card-default uk-card-body">
                <a href="/home/detalle/?id=<%=resultados[index].movie_id%>" style="color:black">Go To the movie</a>
               </div>

           
        </div>
    </div>
<%}%>

<%- include('footer')%>
